<!-- reemplazar el Data source por el servidor local -->
<connectionStrings>
  <add
    name="MARNEntities"
    providerName="System.Data.EntityClient" 
    connectionString="
      metadata=res://*/MarnModel.csdl|res://*/MarnModel.ssdl|res://*/MarnModel.msl;
      provider=System.Data.SqlClient;
      provider connection string=&quot;
        Data Source=localhost;
        Initial Catalog=LABORATORIO_AGUA;
        Persist Security Info=False;
        MultipleActiveResultSets=true;
        User ID=sa;
        Password=1234;
        Connection Timeout=45;
        App=EntityFramework&quot;"
    />
    
  
  <add
    name="IdentityDb"
    providerName="System.Data.SqlClient"
    connectionString="
       Data Source=localhost;
       Initial Catalog=LABORATORIO_AGUA_Users;
       Persist Security Info=False;
       User ID=sa;
       Password=1234;
       MultipleActiveResultSets=true;
       Connection Timeout=45;"/>
</connectionStrings>
